.quote{
    margin:60px;
}
.add{
    margin:40px;
}
.ll{
    background-color: lightcyan;

}
.kk{
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    background-color: lightblue;
}
.quote{
    
    text-align:center; 
    font-family: 'Inconsolata', monospace;
    font-size:30px;
}
.angela{
    
}
a:hover{
    font-size:20px;
}
.inverse{
    background-color:red;
}
.comment{
    background-color: lightgreen;
}
.post{

 background-color:lightsalmon;
}
.post-form{
    background-color:lightseagreen;
    margin:30px;
    padding:30px;
    color:white;
    font-size:20px;
    font-weight:bolder;
}
.update{
    background-color:lightseagreen;
    margin:30px;
    padding:30px;
    color:white;
    font-size:20px;
    font-weight:bolder;
} 
.comme{
    background-color:lightseagreen;
    margin:30px;
    padding:30px;
    color:white;
    font-size:20px;
    font-weight:bolder;
}    

    